.ag-scrolls {
    height: auto !important;
}

.ag-body {
    position: relative !important;
    top: auto !important;
    height: auto !important;
}

.font{
    font-weight: 600;
}
.cell-header{
    background-color:#C5D9F1;
}

.textCenter{
    text-align:center;
}
.outerBorder{
    border:1px solid black;
}
.cell-yellow{
    background-color:#F5C242;
}