.font-pink{
    color:#BB3356;
}

.font-purple{
    color:#6D2C63;
}

.font-green{
    color:#439742;
}

.font-brown{
    color:#B25751;
}
.font-blue{
    color:#95B3DE;
}

.fill-blue{
    background-color:#618BCF;
    border:none;
}